.main{
    background-color: #303030;
    width: 100vw;
    padding: 7vh 7vw ;
    backdrop-filter: blur(1px);
}

.infoSection{
    display: flex;
}

.discription{
    width: 35%;
    align-items: flex-start;
    text-align: justify;
}

.discriptionImage{
    width: 200px;
    margin: -16px;
    padding: 0;
}

.links{
    width: 55%;
    margin-left: 10vw;
    margin-top: 1.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Items{
    margin-top: 1vh;
}

.contactUs{
    position: relative;
}

.socialMedia{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4vh;
}

.socialIcons{
    margin: -3px;
    padding: 0;
}

.linkSection{
    width: 130px;
}


.otherLinks{
    width: 130px;
}


.contactUs{
    width: 180px;
}


.bottomSection{
    text-align: center;
    position: relative;
}


.bottomImage{
    width: 50vw;
}

.devlooper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.devlooperLink{
    margin-left: 6px;
}

@media only screen and (max-width: 900px) {
    .main{
        padding: 7vh 7vw ;
    }

    .infoSection{
        flex-direction: column;
    }
    .discription{
        width: 100%;
        margin-bottom: 4vh;
    }
    .links{
        width: 100%;
        margin-left: 0;
        margin-top: 2vh;
    }

    .linkSection{
        margin-top: 2vh;
    }

    .otherLinks{
        margin-top: 2vh;
    }

    .contactUs{
        margin-top: 2vh;
    }
    .bottomImage{
        margin-top: -10vh;
        margin-bottom: -10vh;
        height: 50vh;
        width: 100vw;
    }
}


