@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.background2{
    position: absolute;
    height: 300vh;
    width: 100vw;
    top: 200vh;
    overflow: hidden;
    background: conic-gradient(from 187.97deg at 57.75% 44.64%, #3361AD 0deg, #6061AC 90deg, #39B8C8 180deg, #6AC5AA 270deg, #000000 360deg);
    filter: blur(863px);
}

.hero{
    max-width: 100vw;
    margin: auto;
}

.heroSection1{
    margin: auto;
}
.heroSection{
    margin: auto;
}

.heroSection img{
    margin-top: 2vh;
}

.heroHeading{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    width: 90vw;
    margin: 8vh auto;
    font-family: 'Poppins', sans-serif;
}

.heroText{
    text-align: center;
    width: 50vw;
    margin: 10vh auto auto;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.intro{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    text-align: center;
}

.introHeading{
    font-size: 36px;
    width: 35vw;
    font-family: 'Poppins', sans-serif;
}

.introText{
    width: 60vw;
    margin: 10px auto auto;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sectionImage{
    width: 50vw;
}

.sectionImage img{
    height: 90vh;
}

.sectionText{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.sectionDiscription{
    width: 35vw;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;

}

.bottomText{
    width: 50vw;
    margin: 10vh auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

@media only screen and (max-width: 600px) {
    .heroSection img{
        width: 90vw;
        margin-top: 5vh;
    }
    .heroText{
        width: 80vw;
    }
    .intro{
        margin: 5vh auto auto;
        width: 80vw;
    }
    .introText{
        width: 80vw;
        margin: auto;
    }
    .background2{
        height: 600vh;
        width: 100vw;
        top: 120vh;
    }
    .section{
        flex-direction: column;
        margin-top: 5vh;
    }
    .sectionImage{
        width: 100vw;
    }
    .sectionImage img{
        width: 90vw;
        margin: 0;
    }
    .sectionText{
        width: 70vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: start !important;
    }
    .sectionDiscription{
        width: 70vw;
    }
    .section:nth-child(odd){
        flex-direction: column-reverse;
    }
    .bottomText{
        width: 60vw;
    }
}