.background2{
    position: absolute;
    height: 300vh;
    width: 100vw;
    top: 150vh;
    overflow: hidden;
    background: conic-gradient(from 187.97deg at 57.75% 44.64%, #3361AD 0deg, #6061AC 90deg, #39B8C8 180deg, #6AC5AA 270deg, #000000 360deg);
    filter: blur(863px);
}

.hero{
    max-width: 100vw;
    margin: auto;
}

.heroSection1{
    margin: auto;
}
.heroSection{
    margin: auto;
}

.heroSection img{
    margin-top: 2vh;
}

.heroText{
    text-align: center;
    width: 50vw;
    margin: 10vh auto auto;
    font-size: 20px;
}
.intro{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
}
.introText{
    width: 60vw;
    margin: 10px auto auto;
    text-align: center;
}

.section{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sectionImage{
    width: 50vw;
}
.sectionImage img{
    width: 40vw;
    margin-left: 5vw;
}
.sectionText{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}
.sectionDiscription{
    width: 40vw;
}

.bottomText{
    width: 38vw;
    margin: 10px auto auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .heroSection img{
        width: 90vw;
        margin-top: 5vh;
    }
    .heroText{
        width: 80vw;
    }
    .intro{
        margin: 5vh auto auto;
        width: 80vw;
    }
    .introText{
        width: 80vw;
        margin: auto;
    }
    .background2{
        height: 250vh;
        width: 100vw;
        top: 150vh;
    }
    .section{
        flex-direction: column;
        margin-top: 5vh;
    }
    .sectionImage{
        width: 90vw;
    }
    .sectionImage img{
        width: 90vw;
        margin: 0;
    }
    .sectionText{
        width: 70vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: start !important;
    }
    .sectionDiscription{
        width: 70vw;
    }
    .section:nth-child(odd){
        flex-direction: column-reverse;
    }
    .bottomText{
        width: 60vw;
    }
}