.main{
    width: 99vw;
    height: 99vh;
    margin: auto;
}

.heroText{
    width: 70%;
    margin: 15vh auto;
    marginTop: 10px;
    marginBottom: 90px;
}

.heroImage{
    margin: auto;
    z-index: 2;
}

.joinButton{
    background-color: #6061AC;
    padding: 5px 15px;
    border-radius: 110px;
}

@media only screen and (max-width: 600px) {
    .heroText{
        margin: 5vh auto;
    }
}