.main{
    margin: auto;
}

.formmain{
    margin: auto;
    background-color: rgb(31, 37, 47);
}

.heroText{
    width: 70%;
    margin: 15vh auto 30px;
}

.heroText h1{
    font-size: 40px;
}

.heroImage{
    z-index: 0;
}

.joinButton{
    background-color: #5a5ba1;
    padding: 5px 15px;
    border-radius: 110px;
}
.socialIcons{
    margin: -3px;
    padding: 8px;
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .heroText{
        margin: 5vh auto;
        width: 70vw;
    }

    .heroText h1{
        font-size: 29px;
    }

    .heroImage{
        margin: auto;
        width: 100vw;
    }
}